<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../styles/index.css">
<title>cars app</title>
</head>
<body>
  <ul id="dropdown">
    <button><li><a href="http://localhost:3000/">Home</a></li></button>
      <button><li><a href="http://localhost:3000/forum">Forum</a></li></button>
    <button><li class="dropdown"><a href="#drop"class="dropbtn">Manufacturer</a>
      <div class="dropdown-content">
        <a href="http://localhost:3000/benz">Mercedes-Benz</a>
        <a href="https://www.bmwusa.com/" target="_blank" >BMW</a>
        <a href="http://www.audi.com/" target="_blank">Audi</a>
      </div>
    </li></button>
  </ul>
