<% include ./partials/boilerplate %>

  <div class="main">
  <div class="jumbotron jumbotron-fluid">
  <h1 class="text-primary">Home</h1>
</div>



<div class="container">
    <h2 class="text-primary" style="text-decoration: underline;"> Some Iconic Cars of All Time</h2>
    <br />
  <div class="row">
    <div class="col-sm-4">
      <h3 class="text-primary">Mercedes-Benz SLR McLaren</h3>
      <br />
      <img src="http://www.mercedestuningmag.com/wp-content/gallery/slr-class/slr-mclaren-doors-open.jpg" alt="HTML5 Icon" width="200" height="200">
      <p>Only one car in the world combines Mercedes-Benz style, McLaren Formula 1 technology, and AMG performance. With one push of the button, it possesses you like nothing else. This is the SLR. Called the "Greatest Car Ever Built" by one automotive journalist</p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-primary">Alpina b7</h3>
      <br />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAAnnPYa7kzPXhuGCS-wgGvQE56Vj6k1RK9U4ZZLx7_WgMn47Y" alt="HTML5 Icon" width="200" height="200">
      <p>BMW’s twin-turbo 4.4-liter V8 got a completely new air intake system, a bigger air-water intercooler, different turbochargers working at 20 psi, Mahle pistons and heavily upgraded cooling all around for a compression ratio of 10.0:1 and as much as 494 pound-feet of torque at 2,000 RPM, or 590 pound-feet from 3000 RPM and upwards. With 600 HP also on tap between 5750 RPM and 6250 RPM, the B7 will reach 62 mph in 3.6 seconds</p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-primary">Audi R8 v10</h3>
      <br />
      <img src="https://www.autocentrum.pl/ac-file/gallery-photo/5661b4b5f80f0a963517aba6/audi-r8-v10-plus-02.jpg" alt="HTML5 Icon" width="200" height="200">
      <p>It’s a car with many tricks, and many ponies: that 5.2-litre V10 really is one of the last great naturally aspirated engines on sale. Even if you live near an autobahn, you’re unlikely to find a real-world situation where you could safely access all of its performance, but I serendipitously got some track time in an identical R8 V10 Plus at Audi’s Neuburg test circuit shortly before writing these words, and it was an eye-opener. </p>
    </div>
  </div>
</div>
</div>


<% include ./partials/footer %>
