
<% include ../partials/boilerplate %>
<h2>Forum</h2>
<button type="button" name="button"><a href="/forum/new">Add post</a></button>
<button type="button" name="button"><a href="/forum/post-edit">Delete post</a></button>
<button type="button" name="button"><a href="/forum/post-single">Update post</a></button>

<% for (let post of data) { %>
  <div class='post'>
    <p><%= post.id %></p>
    <p><%= post.post_title %></p>
    <p><%= post.post_content %></p>
    <button><a href='/forum/<%= post.id %>'>More</a></button>

    <h2>--------------------------------</h2>
  </div>
<% } %>

<% include ../partials/footer %>
