<% include ../partials/boilerplate %>

<div class='post'>
  <h1><%= data.title %></h1>
  <h3><%= data. %></h3>
  <a href="/posts/<%= data.id %>/edit"> Edit this post </a>
  <form action="/posts/<%= data.id %>?_method=Delete" method="Post">
    <input type="Submit" value="Delete"/>
  </form>
  <a href='/posts/'>See all posts</a>
</div>

<% include ../partials/footer %>
