
<% include ../partials/boilerplate %>

<h2>Forum</h2>
<button type="button" name="button"><a href="/forum/new">Add post</a></button>
<br><div align="center">
<% for (let post of data) { %>
    <div style="color:blue;">
    <hr color="white"></hr>
        <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.id %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post.post_title %></h6>
        <p class="card-text"><%= post.post_content %></p>
        <a class="btn btn-primary" href='/forum/<%= post.id %>'>More</a>
        <a href="#" class="btn btn-primary">Comment</a>
      </div>
      </div>
      </div>
<% } %>
</div>
<% include ../partials/footer %>
