<% include ../partials/boilerplate %>


<form method="POST" action="/posts">
  <input name="post_title" type="text" placeholder="title" />
  <input name="post_content" type="text" placeholder="content" />
<% console.log(posts) %>
  <input type="submit" value="Add it!" />
</form>

<% include ../partials/footer %>
