<% include ../partials/boilerplate %>

<div>MERCEDES BENZ MAIN PAGE<div>

  <button ID="allSedansButton">view all sedans</button>
<br>
  <button ID="allConvertablesButton">view all convertables</button>
  <br>
    <button ID="allCoupesButton">view all coupes</button>
    <br>
    <button ID="allOffroadButton">view all offroad</button>
<p>
</p>

<button type="button" name="button"><h2><a href="http://localhost:3000/benz/search">SEARCH</a></h2></button>


<script src='/src/jquery.js'></script>
<script src='/src/benz.js'></script>
<% include ../partials/footer %>
