<% include ../partials/boilerplate %>

<h2>MERCEDES BENZ MAIN PAGE</h2>

  <button ID="allSedansButton">view all sedans</button>
  <button ID="allConvertablesButton">view all convertables</button>
    <button ID="allCoupesButton">view all coupes</button>
    <button ID="allOffroadButton">view all offroad</button>
    <button type="button" name="button"><a href="http://localhost:3000/benz/search">SEARCH</a></button>

<p></p>

<script src='/src/jquery.js'></script>
<script src='/src/benz.js'></script>
<% include ../partials/footer %>
