<% include ../partials/boilerplate %>

<h2 class="btn-primary">MERCEDES BENZ</h2>
<div style="color:blue;">
  <button id="allSedansButton">view all sedans</button>
  <button id="allConvertablesButton">view all convertables</button>
    <button id="allCoupesButton">view all coupes</button>
    <button id="allOffroadButton">view all offroad</button>
    <button type="button" name="button"><a href="/search">SEARCH</a></button>

<p id="mainp">

</p>
</div>

<% include ../partials/footer %>
