<% include ../partials/boilerplate %>
<h2>Search</h2>
<select>
  <option value="volvo">Make</option>
  <option value="volvo">Mercedes</option>
  <option value="saab">BMW</option>
  <option value="audi">Audi</option>
</select>

<select>
  <option value="volvo">Type</option>
  <option value="volvo">sedan</option>
  <option value="saab">coupe</option>
  <option value="audi">suv</option>
</select>

<select>
  <option value="volvo">Engine</option>
  <option value="volvo">v4</option>
  <option value="saab">v6</option>
  <option value="audi">v8</option>
</select>

<select>
  <option value="volvo">name</option>
  <option value="volvo">C 300</option>
  <option value="saab">E 350</option>
  <option value="audi">S 550</option>
</select>


<button type="button" name="button"><a href="http://localhost:3000/benz/car-one">SEARCH</a></button>


<% include ../partials/footer %>
