<% include ../partials/boilerplate %>


<h2>search.ejs</h2>
<h3>show search options and run search</h3>

<button type="button" name="button"><h2><a href="http://localhost:3000/benz/car-one">SEARCH</a></h2></button>


<% include ../partials/footer %>
